/* CSS Reset */
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	font-family: 'Lato', sans-serif;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container {
	width: 100%;
	height: 100%;
}

.header {
	background-color: #75FFD8;
	padding: 10px 50px;
	width: 100%;
	display: inline-block;
	box-sizing: border-box;
	min-width: 480px;
}

.logo {
	width: 80px;
	height: 80px;
}

.logo-text {
	font-weight: 300;
	font-size: 30px;
	position: relative;
	top: -30px;
	left: 20px;
}

a {
	text-decoration: none;
	color: #222;
}

.main {
	width: 100%;
	position: relative;
}

.navigation {
	background-color: #147F61;
	display: inline-block;
	width: 20%;
	float: left;
	box-sizing: border-box;
	padding: 30px 40px;
	top: 0;
	bottom: 0;
	min-height: 600px;
	min-width: 120px;
	height: 100%;
}

.content {
	display: inline-block;
	width: 80%;
	float: left;
	padding: 30px 60px;
	box-sizing: border-box;
	min-width: 360px;
	overflow: auto;
}

.footer {
	background-color: #75FFD8;
	padding: 30px 80px;
	width: 100%;
	display: inline-block;
	text-align: center;
	font-weight: 300;
	font-size: 12px;
	float: left;
	height: 40px;
	box-sizing: border-box;
}

h1 {
	font-weight: 700;
	font-size: 40px;
}

h2 {
	font-weight: 700;
	font-size: 35px;
}

h3 {
	font-weight: 700;
	font-size: 30px;
}

p {
	line-height: 1.6em;
	font-size: 14px;
	font-weight: 300;
	margin: 15px 0;
}

input, button {
	font-size: 16px;
	font-family: "Lato";
	border-radius: 4px;
	border: 1px solid #cfcfcf;
	padding: 5px;
	margin: 2px 2px;
}

nav a {
	color: white;
	font-weight: 300;
	text-decoration: none;
	font-size: 13px;
	line-height: 1.6em;
}

nav a:hover, nav a:active {
	text-decoration: underline;
}

.name {
	width: 100%;
	position: relative;
	display: inline-block;
	text-align: right;
	font-size: 16px;
}

.footer a {
	text-decoration: none;
}

.footer a:hover, .footer a:active {
	text-decoration: underline;
}
